body {
    background: linear-gradient(135deg, #ffffff, #6ae0c8, #f2a464);
    color: white;
    height: 100vh;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-family: "Andale Mono";
  }

  .centeredText {
    margin: 20%;
  }

  a {
    text-decoration: none;
    color: teal;
    font-family: "Andale Mono";
    font-size: 1.3rem;
  }

  .typed-cursor {
    display: none;
  }