* {
  margin: 0;
}

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

.heading {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.nav-links {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  position: fixed;
  top: 30px;
  right: 20px;
  display: flex;
  flex-direction: column; /* Stack links vertically */
  align-items: flex-start; /* Align links to the right */
  margin-left: auto; /* Pushes header-links to the right */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  top: 20px;
  left: 20px;
  color: #ff8330; /* Example text color */
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem
}

.nav-link-item {
  padding-right: 2rem;
  margin-bottom: 0.5rem;
  color: #fdbb2d;
  text-decoration: none;
  transition: color 0.3s;
}

.logo:hover {
  font-size: 110%;
  color: #ff8330;
  opacity: 70%;
}

.nav-link-text {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  font-family:  "Andale Mono"
}

.nav-link-text:hover {
  color: #fdbb2d;
}